.admin {
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

    display: flex;
    align-items: stretch;

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        // min-width: 80px;
        // max-width: 80px;
        text-align: center;
        // background: #efefef;
        // color: #fff;
        transition: all 0.3s;

        background-color: #ffd2d2;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
        // background-attachment: fixed;
        background-size: cover;

        &.active {
            min-width: 0px;
            max-width: 0px;
            text-align: center;

            a::after {
                display: none;
            }

            li a {
                padding: 0 !important;
            }

            img {
                visibility: hidden;
            }
        }

        .lig-i {
            background-color: #ffffffa8;

            &.active {
                color: #fff;
                background: linear-gradient(to right, rgba(59, 162, 255), rgb(105, 99, 255));

                a.active {
                    color: #fff;
                }

                .sidebar-btn {
                    color: #fff;
                }
            }

            .submenu-list {
                li {
                    a.active {
                        color: white;
                        background-color: #61b2ff;
                        border-color: #61b2ff;
                    }
                }
            }
        }

        .sidebar-btn {
            &:hover {
                // color: #e7e7e7;
            }

            &.active {
                color: #fff;

                &:hover {
                    color: #3d3d3d;
                }
            }
        }

        .submenu-list {
            border-top: 1px solid #fc7183;


            .list-group-item {
                border-left: 10px solid #fc7183;
                border-bottom: none;
                // background: linear-gradient(to right, #ff9696, #ffa3a3);

                a {
                    // background-color: transparent;
                    border: none;

                    &:hover {
                        // color: #e7e7e7 !important;
                    }
                }
            }
        }
    }

    #content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;

        #navbarDropdownProfile {
            border-bottom: 3px solid #6667ff;

            &:after {
                display: none;
            }

            i {
                font-size: 1rem;
            }
        }

        .table-post-title {
            width: 10%;
        }

        .table {
            .nosort {
                width: 5%;

                input {
                    display: none;
                }
            }
        }

        .dataTables_filter {
            margin-left: -15px;

            label {
                float: left;
                align-self: center;
                align-items: center;
            }
        }

        .dataTables_length {
            label {
                float: left;
                align-self: center;
                align-items: center;
            }
        }

        .item-desc-container {
            #editor {
                resize: vertical;
                overflow: auto;
                line-height: 1.5;
                background-color: #fafafa;
                background-image: none;
                border: 0;
                border: 1px solid #ced4da;

                border-bottom: 1px solid #3b8dbd;
                min-height: 150px;
                box-shadow: none;
                padding: 8px 16px;
                margin: 0 auto;
                font-size: 14px;
                transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            }

            #editor:focus {
                background-color: #f0f0f0;
                border-color: #38af5b;
                box-shadow: none;
                outline: 0 none;
            }

            .btn {
                font-family: "Raleway", sans-serif;
                font-weight: 300;
                font-size: 1em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                border: none;
                border-bottom: .15em solid black;
                padding: 0.65em 1.3em;
            }

            .btn-xs {
                font-size: .80em;
                padding: .25em .75em;
            }

            .btn-default {
                border-color: #d9d9d9;
                background-image: linear-gradient(#ffffff, #f2f2f2);
            }

            .btn-default:hover {
                background: linear-gradient(#f2f2f2, #e6e6e6);
            }
        }

        .view-user-single {
            .profile-picture {
                height: 8rem;
                img {
                    height: 8rem;
                }
            }
        }
    }

    .banner {
        height: 12rem;
    }

    // #sidebar.active {
    //     min-width: 80px;
    //     max-width: 80px;
    //     text-align: center;
    // }

    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        // padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }

    #sidebar ul li a {
        // padding: 10px;
        // font-size: 1.1em;
        display: block;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }


    #sidebar ul li a i {
        margin-right: 10px;
    }


    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        // padding-left: 30px !important;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .admin {
        #sidebar {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            margin-left: -80px !important;
        }

        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

        #sidebar.active {
            margin-left: 0 !important;
            min-width: 150px;
            max-width: 150px;
            text-align: center;
        }

        #sidebar .sidebar-header h3,
        #sidebar .CTAs {
            display: none;
        }

        #sidebar .sidebar-header strong {
            display: block;
        }

        #sidebar ul li a {
            padding: 20px 10px;
        }

        #sidebar ul li a span {
            font-size: 0.85em;
        }

        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }

        #sidebar ul ul a {
            padding: 10px !important;
        }

        #sidebar ul li a i {
            font-size: 1.3em;
        }

        #sidebar {
            margin-left: 0;
        }

        #sidebarCollapse span {
            display: none;
        }
    }
}
