// Findgum CSS
* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

// Navbar
.navbar-brand img {
    height: 2rem;
}

.navbar-collapse {
    .search-bar {
        width: -webkit-fill-available;

        li {
            width: 80%;
        }

        input {
            background-color: #e8e8e8;
        }
    }

    .nav-item {
        padding: 0.1rem;
    }


    svg {
        height: 1.5rem;
        width: auto;
    }

    .login,
    .register,
    .profile {
        display: inline-flex;
        align-self: center;

        span {
            align-self: center;
        }
    }

    .dropdown-toggle::after {
        align-self: center;
    }

    .sell-btn-container {
        text-align: center;
    }

    .sell-item {
        background-color: #ef2942;
        border-color: #ef2942;
        color: honeydew !important;
    }
}

// Megamenu
.megamenu {
    .navbar-nav {
        flex-direction: row;
    }

    li.nav-item {
        margin: auto 0;
        display: inline;
    }

    .megamenu-item {
        width: max-content;
    }

    a {
        text-decoration: none;
    }

    i {
        font-size: 20px;
        align-self: center;
    }

    .megamenu-category:hover {
        background-color: #e63c5c;
        text-decoration: wavy;
        color: #f1f1f1;
    }

    ul {
        list-style: none;
    }

    .sub-category-list {
        padding: 0 1.5rem 1.5rem 1.5rem;
        li {
            margin: .2rem;
        }
    }

    .dropdown-header {
        font-weight: bolder;
    }

    .dropdown-menu {
        
    }

    .dropdown-menu.a {
        // left: 50% !important;
        // transform: translateX(-50%) !important;
        // top: 100% !important;
    }

    .cars-for-sale {

    }
}

// Footer
.footer {
    bottom: 0;
    position: static;
    left: 0;
    right: 0;

    a {
        color: #000;
    }

    a:hover {
        color: #2176bd;
        text-decoration: none;
    }

    .logo-nc {
        display: flex;
    }

    .copyright {
        align-self: center;
        padding-left: 1rem;
    }

    img {
        height: 2.5rem;
        width: auto;
    }

    i {
        // color: blue;
        height: 1rem;
        font-size: 1.5rem;
    }

    li {
        display: inline;
    }

    .facebook i {
        color: #2176bd;
    }

    .ig i {
        color: #ce6b17;
    }

    .twitter i {
        color: #3490dc;
    }

    .youtube i {
        color: crimson;
    }
}

// Product 
.product-card-img {
    border-radius: 10px;;
}

.product-card-location {
    span {
        color: #c7380d;
    }
}

.card-profile-image {
    width: -webkit-fill-available;
    img {
        height: 3rem;
        border-radius: 30px;
    }

    .posted-by {
        text-align: left;
    }
}