// Findgum CSS
body {
    min-height: 100vh;

    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;

    main {
        margin-top: 6rem;
    }
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 7rem;
}

.container {
    max-width: 1200px;
}

// Navbar
.navbar-brand img {
    height: 2rem;
}

.stick-together {
    top: 0;
    z-index: 9999;
    position: fixed;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #0038a7;
}

.navbar-collapse {
    .search-bar {

        width: 65%;

        li {
            width: 100%;
        }

        input {
            background-color: #e8e8e8;
        }
    }

    .nav-item {


        a {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        }

        i {

            -webkit-align-self: center;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        }
    }


    svg {
        height: 1.5rem;
        width: auto;
    }

    .login,
    .register,
    .profile {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -ms-flex-item-align: center;
        -webkit-align-self: center;
        align-self: center;

        span {
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            -webkit-align-self: center;
            align-self: center;
        }
    }

    .dropdown-toggle::after {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        -webkit-align-self: center;
        align-self: center;
    }

    .sell-btn-container {
        text-align: right;
    }

    .sell-item {
        background-color: #ef2942;
        border-color: #ef2942;
        color: honeydew !important;
    }

    .dropdown-toggle::after {
        display: none;
    }
}

.right-nav {
    width: auto;

    li:last-child {
        width: inherit;

        a {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            width: inherit;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }
    }

    i {
        font-size: 1.7rem;
        margin-left: auto;
        margin-right: auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .dropdown-menu {
        i {
            font-size: initial !important;
            padding-right: 1rem;
        }
    }
}

// Megamenu
.megamenu {
    .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    li.nav-item {
        margin: auto 0;
        display: inline;
    }

    .megamenu-item {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    a {
        text-decoration: none;
    }

    i {
        font-size: 0.8rem;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        -webkit-align-self: center;
        align-self: center;
    }

    .megamenu-category {
        padding-left: .3rem;
        padding-right: .3rem;
        font-size: 15px;
    }

    .megamenu-category:hover {
        background-color: #e63c5c;
        -webkit-text-decoration: wavy;
        text-decoration: wavy;
        color: #f1f1f1;
    }

    ul {
        list-style: none;
    }

    .sub-category-list {
        padding-right: 0;
        padding-left: 0.5rem;

        li {
            margin: .2rem;

            &.dropdown-header {
                padding: 0 0 0 2px;
                text-transform: uppercase;
                border-left: 5px solid #f89b98;
                color: #3992dd;
                font-weight: bold;
                font-size: 15px;
            }

            a {
                font-size: 16px;
            }
        }
    }

    .dropdown-header {
        font-weight: bolder;
    }


}

// Footer
.footer {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;

    .all-align {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        text-align: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    a {
        color: #000;
    }

    a:hover {
        color: #2176bd;
        text-decoration: none;
    }

    .logo-nc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .copyright {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        -webkit-align-self: center;
        align-self: center;
        padding-left: 1rem;
    }

    img {
        height: 2.5rem;
        width: auto;
    }

    i {

        height: 1rem;
        font-size: 1.5rem;
    }

    li {
        display: inline;
    }

    .facebook i {
        color: #2176bd;
    }

    .ig i {
        color: #ce6b17;
    }

    .twitter i {
        color: #3490dc;
    }

    .youtube i {
        color: crimson;
    }
}

// Post
.finds-list {
    .ad-carousel {
        .carousel-indicators>li {
            border-radius: 50%;
            height: 10px;
            width: 10px;
        }

        .carousel-item {
            height: 12rem;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: .5rem;
        }
    }

    .latest-posts {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.post-card {
    .card {
        height: 100%;
    }
}

.post-card-location {
    span {}
}

.card-profile-image {
    width: -webkit-fill-available;

    img {
        height: 3rem;
        width: 3rem;

    }

    .posted-by {
        text-align: left;
    }
}

.post-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-weight: 600 !important;
}

.post-desc {
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-card-img {
    height: 10rem;
}

.pager {
    text-align: center;
    display: inline-block;

    .pagination {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

//
.single-post {
    .post-description {
        font-family: inherit !important;

        * {
            font-family: inherit !important;
        }
    }

    .seller-profile {
        .list-group-item {
            border: 0;
        }
    }

    .carousel-inner {
        height: 35rem;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }

    .carousel-item {
        height: inherit;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;

        &.active {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .carousel-indicators {
        position: relative !important;

        li {
            width: 5rem;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }

        li img {
            display: block;
            opacity: 0.5;
            height: 50px;
            width: 50px;
        }

        li.active img {
            opacity: 1;
        }

        li:hover img {
            opacity: 0.75;
        }
    }

    .list-inline-item {
        height: auto;
    }

    .carousel-control {
        border-radius: 10px;
    }

    .twitter-share,
    .facebook-share {
        color: #eaeaea;
        cursor: pointer;
        display: inline-block;
        border-radius: 6px;
    }

    .facebook-share {
        background-color: #2176bd;

        &:hover {
            background-color: #3981bd;
        }
    }

    .twitter-share {
        background-color: #3490dc;

        &:hover {
            background-color: #5aa4e0;
        }
    }

    .star-rating {
        line-height: 1rem;
        font-size: 1rem;
    }

    .mdi-star {
        color: gray;
    }

    .mdi-star.checked {
        color: #0c8f76;
    }

    .seller-name {
        font-size: 2rem;
    }

    .seller-btn-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        button {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
    }

    .seller-show-number {
        background-color: #0c8f76;
        color: #fff;
    }

    .seller-make-offer {
        background-color: #ef2942;
    }

    .send-message {
        background-color: #0c8f76;
        color: #fff;
    }


    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group>input,
    .form-label-group>label {

    }

    .form-label-group>label {
        padding-left: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        -webkit-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: -webkit-calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: -webkit-calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown)~label {
        padding-top: -webkit-calc(var(--input-padding-y) / 3);
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: -webkit-calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }

    .safety-tips {
        i {
            color: #4ad870;
        }
    }

    .related-post {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;

        .post-card {
            display: none;
        }
    }

    .comment-wrapper {

        .media-list .media img {
            width: 64px;
            height: 64px;
            border: 2px solid #e5e7e8;
        }

        .media-list .media {
            border-bottom: 1px dashed #efefef;
            margin-bottom: 1rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }

    .related-posts {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.modal {
    margin-top: 6rem !important;
}

.report-check {
    font-size: 10rem;
}

.report-success {
    .close {
        float: right;
        right: 0;
        position: absolute;
        padding: 1rem;
    }
}

.popover {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    .popover-header {
        background-color: #fffa99;
    }

    .popover-body {
        font-weight: bolder;
        text-align: center;
    }

    .arrow::after {
        border-bottom-color: #fffa99;
    }
}


// Messages
.messages {
    .messages-row-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .conversation-list {
        ul {
            height: -webkit-calc(100vh / 2);
            height: calc(100vh / 2);
            overflow-y: scroll;
            overflow-x: hidden;
        }

        li {
            cursor: pointer;
        }
    }

    .conversation-list ul::-webkit-scrollbar {
        width: 8px;
        background: #e8e8e8;
        border-radius: 10px;
    }

    .conversation-list ul::-webkit-scrollbar-thumb {
        background-color: #1d5079;
        border-radius: 10px;
    }

    button:focus {
        outline-color: transparent;
    }

    .active {
        color: black;
        background-color: #d3e4f6;
        border-color: #d3e4f6;
    }

    .sender-meta {
        width: inherit;
    }

    .messages-list {
        ul {
            list-style: none;
            height: -webkit-calc(100vh / 2);
            height: calc(100vh / 2);
            overflow-y: scroll;
            overflow-x: hidden;
        }

        li {
            display: inline-block;
            clear: both;
            float: left;
            width: -webkit-calc(100% - 25px);
            width: calc(100% - 25px);
        }

        li p {
            border-radius: 10px;
            padding: .5rem;
            width: auto;
        }

        .sent {
            p {
                background: #e6eaea;
            }
        }

        .replies {
            p {
                background: #034d93;
                color: whitesmoke;
                float: right;
            }
        }

        .conversation.active {
            display: block;
            background-color: inherit;
        }

        .conversation:not(.active) {
            display: none;
        }
    }

    .messages-list ul::-webkit-scrollbar {
        width: 8px;
        background: #e8e8e8;
        border-radius: 10px;
    }

    .messages-list ul::-webkit-scrollbar-thumb {
        background-color: #1d5079;
        border-radius: 10px;
    }

    .send-offer {
        background-color: #08907b;
        color: whitesmoke;
    }
}

.filtered-posts {}

// Login
.login {
    .welcome-img {
        width: 13%;
    }

    .divider {
        padding: 0;
        border: none;
        border-top: solid 1px #e8ebf3;
        color: #333;
        text-align: center;
        margin: 1.5rem 0;


    }

    .divider:after {
        content: "or";
        display: inline-block;
        position: relative;
        top: -0.9em;
        font-size: 1.2em;
        padding: 0 0.25em;
        background: white;
    }

    .btn-google {
        color: #fff;
        background-color: #f35243;
        border-color: #f35243;
    }

    .btn-facebook {
        color: #fff;
        background-color: #1c51dc;
        border-color: #1c51dc;
    }

    .card {
        .form-group {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.register {
    .welcome-img {
        width: 13%;
    }

    .card {
        .form-group {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .divider {
        padding: 0;
        border: none;
        border-top: solid 1px #e8ebf3;
        color: #333;
        text-align: center;
        margin: 1.5rem 0;


    }

    .divider:after {
        content: "or";
        display: inline-block;
        position: relative;
        top: -0.9em;
        font-size: 1.2em;
        padding: 0 0.25em;
        background: white;
    }

    .btn-google {
        color: #fff;
        background-color: #f35243;
        border-color: #f35243;
    }

    .btn-facebook {
        color: #fff;
        background-color: #1c51dc;
        border-color: #1c51dc;
    }
}

//
.banner {
    height: 10rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    img {
        width: 100%;
        height: auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

.profile {
    .banner {
        height: 10rem;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        img {
            width: 100%;
            height: auto;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        }
    }

    .profile-picture {
        img {
            height: auto;
            width: 65%;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            margin-top: -5rem;
            border: solid white 5px;
            ;
        }
    }

    .follow-btn {
        border-color: #dae0e5;
    }

    .profile-address {
        color: #a28b2d;
    }

    .profile-description {
        .card {
            border: none;

            .card-header {}
        }
    }

    .profile-listings {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .profile-reviews {
        .card {
            border: none;

        }
    }

    .post-card {
        .card {
            height: 100%;
        }
    }

    .post-card-img {
        height: 12rem;
    }

    .rating-cacl {
        font-size: 1.2rem;
    }

    .mdi-star.checked {
        color: #0c8f76;
    }

    .review-text {
        display: -webkit-box;
        display: -moz-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .item-desc-container {

        /* ==========================================================================
   WYSIWYG
   ========================================================================== */
        #editor {
            resize: vertical;
            overflow: auto;
            line-height: 1.5;
            background-color: #fafafa;
            background-image: none;
            border: 0;
            border: 1px solid #ced4da;
            ;
            border-bottom: 1px solid #3b8dbd;
            min-height: 150px;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 8px 16px;
            margin: 0 auto;
            font-size: 14px;
            -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
        }

        #editor:focus {
            background-color: #f0f0f0;
            border-color: #38af5b;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: 0 none;
        }

        /* ==========================================================================
   Buttons
   ========================================================================== */
        .btn {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            font-size: 1em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: none;
            border-bottom: .15em solid black;
            padding: 0.65em 1.3em;
        }

        .btn-xs {
            font-size: .80em;
            padding: .25em .75em;
        }

        .btn-default {
            border-color: #d9d9d9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
            background-image: -o-linear-gradient(#ffffff, #f2f2f2);
            background-image: linear-gradient(#ffffff, #f2f2f2);
        }

        .btn-default:hover {
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
            background: -o-linear-gradient(#f2f2f2, #e6e6e6);
            background: linear-gradient(#f2f2f2, #e6e6e6);
        }
    }

    #edit-item-post {
        .modal-dialog {
            width: 50%;
            max-width: none;
        }
    }

    .post-menu-secondary {
        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-toggle::before {
            display: none;
        }
    }

    .dropdown-menu {

        -webkit-backface-visibility: hidden;

        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;

        &.show {
            display: block !important;
        }

        button {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
        }

        i {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
        }
    }
}

//
.post-ad-container {
    .item-desc-container {
        #editor {
            resize: vertical;
            overflow: auto;
            line-height: 1.5;
            background-color: #fafafa;
            background-image: none;
            border: 0;
            border: 1px solid #ced4da;

            border-bottom: 1px solid #3b8dbd;
            min-height: 150px;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 8px 16px;
            margin: 0 auto;
            font-size: 14px;
            -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
            -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
        }

        #editor:focus {
            background-color: #f0f0f0;
            border-color: #38af5b;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: 0 none;
        }

        .btn {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            font-size: 1em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: none;
            border-bottom: .15em solid black;
            padding: 0.65em 1.3em;
        }

        .btn-xs {
            font-size: .80em;
            padding: .25em .75em;
        }

        .btn-default {
            border-color: #d9d9d9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
            background-image: -o-linear-gradient(#ffffff, #f2f2f2);
            background-image: linear-gradient(#ffffff, #f2f2f2);
        }

        .btn-default:hover {
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
            background: -o-linear-gradient(#f2f2f2, #e6e6e6);
            background: linear-gradient(#f2f2f2, #e6e6e6);
        }
    }
}

// Settings
.settings {
    .profile-picture {
        height: 12rem;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .file-upload-label {
        padding: 1em 2em;

        &:hover {
            cursor: pointer;
            background: #f45e71;
            border-color: #f45e71;
        }
    }
}

//
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

//
/*! Image Uploader - v1.0.0 - 15/07/2019
 * Copyright (c) 2019 Christian Bayer; Licensed MIT */
.image-uploader {
    min-height: 10rem;
    border: 1px solid #d9d9d9;
    position: relative
}

.image-uploader.drag-over {
    background-color: #f3f3f3
}

.image-uploader input[type="file"] {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0
}

.image-uploader .upload-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.image-uploader .upload-text i {
    display: block;
    font-size: 3rem;
    margin-bottom: .5rem
}

.image-uploader .upload-text span {
    display: block
}

.image-uploader.has-files .upload-text {
    display: none
}

.image-uploader .uploaded {
    padding: .5rem;
    line-height: 0
}

.image-uploader .uploaded .uploaded-image {
    display: inline-block;
    width: -webkit-calc(25% - 0.5rem);
    width: calc(25% - 0.5rem);
    padding-bottom: -webkit-calc(16.6666667% - 1rem);
    padding-bottom: calc(16.6666667% - 1rem);
    height: 0;
    position: relative;
    margin: .5rem;
    background: #f3f3f3;
    cursor: default
}

.image-uploader .uploaded .uploaded-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute
}

.image-uploader .uploaded .uploaded-image .delete-image {
    display: none;
    cursor: pointer;
    position: absolute;
    top: .2rem;
    right: .2rem;
    border-radius: 50%;
    padding: .3rem;
    background-color: rgba(0, 0, 0, .5);
    -webkit-appearance: none;
    border: none
}

.image-uploader .uploaded .uploaded-image:hover .delete-image {
    display: block
}

.image-uploader .uploaded .uploaded-image .delete-image i {
    color: #fff;
    font-size: 1.4rem
}

// Jpreview CSS

.jpreview-image {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jpreview-container {
    border: 1px dashed #1FB264;
}

.jpreview-container::after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

.jpreview-image img {
    max-width: 100%;
    max-height: 100%
}

.jpreview-remove-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: red;
    width: 10px;
    height: 10px;
}
